*{
    margin: 0px;
    padding: 0px;
}

body{
    font-size: 11px;
    font-family: sans-serif;
    background: linear-gradient(rgb(255,255,255) rgb(235,235,235));
}

nav{
    align-items: center;
    margin: 0px;
    width: 100%;
    background: #005398;
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
}

nav ul{
        list-style: none;

}

nav ul li{
    display:inline-block;
    padding: 5px;
    background: none;
    color: white;
    font-size: 20px;
}
nav ul li:hover{
    display: inline-block;
    padding: 6px;
    background: none;
    color: #50C7C5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section{
    align-self: center;
    text-align: center;
    color: aqua;
    margin: auto;
    width: 100%;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255,255,255);
}
h3{
    display: none;
}
section{
    margin: auto;
    width: 100%;
    text-align: center;
}

.img{
    margin-top: 4%;
    display: inline-block;
    margin-bottom: 4%;
    background: #005498b3;
    padding: 5%;
    
}

.img img{
    margin: 0 55px;
    border-radius: 10px;
    border: #005398 6px solid;
}

.img img:hover{
    border: #50C7C5 6px solid;
}